# my global config
global:
  scrape_interval:     "{{ scrape_interval }}" 
  evaluation_interval: "{{ evaluation_interval }}" 

rule_files:
  - '*.rules'

alerting:
  alertmanagers:
  - static_configs:
    - targets:
       - {{ alert_manager_target }}:{{ alert_manager_port }}


scrape_configs:
  
- job_name: 'prometheus'
  static_configs:
    - targets: ['localhost:{{ prometheus_port }}']

{% if agent_discovery == 'yes' -%}
- job_name: 'targets'
  file_sd_configs:
    - files:
      - targets.json
{% endif -%}

{% if enable_ec2_sd_configs == 'yes' -%}
- job_name: node_exporter
  ec2_sd_configs:
    - region: {{ aws_region }}
      port: {{ node_exporter_port }}
      filters:
        - name: tag:{{ filter_tag_key }}
          values:
            - {{ filter_tag_value }}
{% endif -%}

