{% set all_exp = [] -%}
{% set exp_hosts = groups.odmont %}
{% for host in exp_hosts -%}
  {% set exp_ip = hostvars[host].ipv4_address|default(hostvars[host]['ansible_default_ipv4']['address']) -%}
  {% set _ = all_exp.append("%s:%s" % (exp_ip, 9273)) -%}
{% endfor -%}
{% set server_list = all_exp | join('", "') -%}
[
  {
    "targets": [ "{{ server_list }}" ],
    "labels": {
      "job": "telegraph"
    }
  }
]
